.hire{
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
}
.img-container{
    height: 396px;
    margin-top: 138px;
}
.head-align{
    margin-top: 60px;
}
.hire-img{
  margin-left: 40px;
}
.head{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 70px;
    /* or 175% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}
.para{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    /* identical to box height, or 164% */
    letter-spacing: 0.2px;
    color: #333333;
}
span[data-color="super"] {
    color: #000000;
}
  
span[data-color="bone"] {
    color: #2A9FE1
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 50%;
  }
  
  .example-full-width {
    width: 50%;
  }
  .submitForm{
    width: 245px;
    margin-right: 20px;
    height: 41px;
    margin-top: 21px;
    margin-bottom: 3px;
    
    background: #FFFFFF;
    /* border: 1px solid #2A9FE1; */
    border-radius: 4px;
    display: inline-block;
  }
  .form-control{
    padding-top: 12px;
    border:none;
  }
  .chcekbox{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 70px;
    /* identical to box height, or 500% */

    display: inline-block;
    align-items: center;
    letter-spacing: 0.2px;

    color: #000000;

  }
  .forgot{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 70px;
    /* identical to box height, or 500% */

    display: inline-block;
    text-decoration: none;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2px;

    color: #2A9FE1;
  }
  .member{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 70px;
    /* identical to box height, or 500% */

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #1B1B1B;
    padding-left:3px;
  }
  .login-btn{
    width: 110px;
    height: 45px;

    background: #2A9FE1;
    border-radius: 4px;
  }
  .login-with{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 70px;
    height: 45px;
    /* or 500% */

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2px;

    color: #B8B8B8;
  }
  .register-mobile{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* identical to box height */

    color: #000000;
}
@media only screen and (max-width: 999px){
  .img-container{
    display: none;
  }
  .head-align{
    margin-left: 70px;
  }
  @media only screen and (max-width: 575px){
    .member{
      flex-wrap: wrap;
    }
    .member a{
      margin-right: 0px !important;
      width: 50%;
    }
    .member p{
      width: 50%;
    }
  }
}
@media only screen and (max-width: 400px){
  .head-align{
    margin-left: 10px;
  }
}
