<app-header></app-header>
<div class="wrapper">
    <div class="jobs-card">
    <div class="content" *ngFor="let apiData of api; let i = index">
        <div class="avatar" [style.margin-top]="i==0 ? '54.6px':'30.6px'">
            <img src="{{api[i].vendor.logo}}" style="width:39.62px; height:30.2px;">
            <p class="com-name">{{api[i].vendor.company_name}}<h5 class="rating">{{api[i].vendor.rate}}</h5>
            <img class="star" src="../../../assets/images/020---Star.png">
            <li class="review">
                <a href="#">{{api[i].vendor.review_count}} reviews</a>
            </li>
            <p class="day">{{api[i].vendor.vendor_type}}d</p>
            <!-- 2nd line -->
            <p class="job-title">{{api[i].categories[0].name}}</p>
            <!-- 3rd Line -->
            <div class="brief-case">
                <img src="../../../assets/images/4075950_bag_briefcase_business_suitcase_icon 1.png">
            </div>
            <p class="yrs">{{api[i].min_exp}}-{{api[i].max_exp}} Yrs</p>
            <p class="yrs" style="left:120px; top:70px;">|</p>
            <p class="pa" *ngIf="'{{api[i].salary_pay.yearly_from}}'"><b>AED</b>&nbsp;{{api[i].salary_pay.yearly_from}}-{{api[i].salary_pay.yearly_to}} P.A</p>
            <p class="yrs" style="left:322px; top:70px;">|</p>

            <div class="brief-case" style="left:346px;top:68.2px;">
                <img src="../../../assets/images/Vector (2).png">
            </div>
            <p class="yrs" style="left:359px;top:70.2px;">{{api[i].locations[0].name}}</p>

            <div class="heart" style="left:646px;top:76.76px;">
                <img src="../../../assets/images/Vector (3).png">
            </div>
            <p class="desc">Marketplace apps similar to olx or bigl but for EU market</p>
        </div>

        <div class="sec" style="margin-top:223px;margin-bottom:-50px;" [style.display]="i==0 ? 'none':''">
            <hr class="hor-line" style="border: 1px solid #E4E4E7; margin-left:29.71px; margin-right:24.76px;" [style.margin-top]="i==1?'-21px':''">
        </div>
       
    </div>
    
    </div>
</div>
<!-- <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls> -->
