<app-header></app-header>
<div class="wrapper">
    <div class="jobs-card">

        <div class="avatar">
            <img src="../../../assets/images/Avatar.png">
            <p class="com-name">Template Factory<h5 class="rating">4.4</h5>
            <img class="star" src="../../../assets/images/020---Star.png">
            <li class="review">
                <a href="">543 reviews</a>
            </li>
            <p class="day">New</p>
            <!-- 2nd line -->
            <p class="job-title">plumbers ductman Manger</p>
            <!-- 3rd Line -->
            <div class="brief-case">
                <img src="../../../assets/images/4075950_bag_briefcase_business_suitcase_icon 1.png">
            </div>
            <p class="yrs">1-5 Yrs</p>
            <p class="yrs" style="left:120px; top:70px;">|</p>
            <p class="pa"><b>AED</b>&nbsp;25,00,000-30,00,000 P.A</p>
            <p class="yrs" style="left:322px; top:70px;">|</p>

            <div class="brief-case" style="left:346px;top:68.2px;">
                <img src="../../../assets/images/Vector (2).png">
            </div>
            <p class="yrs" style="left:359px;top:70.2px;">Dubai</p>

            <div class="heart" style="left:646px;top:76.76px;">
                <img src="../../../assets/images/Vector (3).png">
            </div>
            <p class="desc">Marketplace apps similar to olx or bigl but for EU market</p>
        </div>

        <div class="sec" style="margin-top:199px;margin-bottom:-50px;">
            <hr class="hor-line" style="border: 1px solid #E4E4E7; margin-left:29.71px; margin-right:24.76px;">
        </div>

        <div class="avatar">
            <img src="../../../assets/images/Avatar.png">
            <p class="com-name">Template Factory<h5 class="rating">4.4</h5>
            <img class="star" src="../../../assets/images/020---Star.png">
            <li class="review">
                <a href="">543 reviews</a>
            </li>
            <p class="day">New</p>
            <!-- 2nd line -->
            <p class="job-title">plumbers ductman Manger</p>
            <!-- 3rd Line -->
            <div class="brief-case">
                <img src="../../../assets/images/4075950_bag_briefcase_business_suitcase_icon 1.png">
            </div>
            <p class="yrs">1-5 Yrs</p>
            <p class="yrs" style="left:120px; top:70px;">|</p>
            <p class="pa"><b>AED</b>&nbsp;25,00,000-30,00,000 P.A</p>
            <p class="yrs" style="left:322px; top:70px;">|</p>

            <div class="brief-case" style="left:346px;top:68.2px;">
                <img src="../../../assets/images/Vector (2).png">
            </div>
            <p class="yrs" style="left:359px;top:70.2px;">Dubai</p>

            <div class="heart" style="left:646px;top:76.76px;">
                <img src="../../../assets/images/Vector (3).png">
            </div>
            <p class="desc">Marketplace apps similar to olx or bigl but for EU market</p>
        </div>

        <div class="sec" style="margin-top:223px;margin-bottom:-50px;">
            <hr class="hor-line" style="border: 1px solid #E4E4E7; margin-left:29.71px; margin-right:24.76px;">
        </div>

        <div class="avatar">
            <img src="../../../assets/images/Avatar.png">
            <p class="com-name">Template Factory<h5 class="rating">4.4</h5>
            <img class="star" src="../../../assets/images/020---Star.png">
            <li class="review">
                <a href="">543 reviews</a>
            </li>
            <p class="day">New</p>
            <!-- 2nd line -->
            <p class="job-title">plumbers ductman Manger</p>
            <!-- 3rd Line -->
            <div class="brief-case">
                <img src="../../../assets/images/4075950_bag_briefcase_business_suitcase_icon 1.png">
            </div>
            <p class="yrs">1-5 Yrs</p>
            <p class="yrs" style="left:120px; top:70px;">|</p>
            <p class="pa"><b>AED</b>&nbsp;25,00,000-30,00,000 P.A</p>
            <p class="yrs" style="left:322px; top:70px;">|</p>

            <div class="brief-case" style="left:346px;top:68.2px;">
                <img src="../../../assets/images/Vector (2).png">
            </div>
            <p class="yrs" style="left:359px;top:70.2px;">Dubai</p>

            <div class="heart" style="left:646px;top:76.76px;">
                <img src="../../../assets/images/Vector (3).png">
            </div>
            <p class="desc">Marketplace apps similar to olx or bigl but for EU market</p>
        </div>

        <div class="sec" style="margin-top:223px;margin-bottom:-50px;">
            <hr class="hor-line" style="border: 1px solid #E4E4E7; margin-left:29.71px; margin-right:24.76px;">
        </div>

    </div>
</div>
