.jobs-card{
    /* bg */
    margin-top: 25px;
    /* white */
    background: #FFFFFF;
    /* shadow-base */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.avatar{
    margin-left: 29.71px;
}
.first-line{
    display: flex;
}
.com-name{
    margin-top:4.72px;
    /* width: 138.66px; */
    width: 170.66px;
    margin-left:6px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #3F3F46;
}
.rating{
    list-style-type: none;
    margin-top: 4.72px;
    margin-left:30.29px;
}
.star{
    margin-top: 6.4px;
    margin-bottom: 16px;
    margin-left: 2.29px;
}
.review{
    list-style: none;
    margin-left: 3px;
    margin-top: 5.5px;
    width: 78px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    color: #00B3EC;
}
.second-line{
    display: flex;
}
.job-title{
    margin-left:50.37px;
    font-family: 'Poppins',sans-serif;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #18181B;
}
.third-line{
    display: flex;
}
.brief-case{
    margin-left:38.29px;
}
.yrs{
    text-align: center;
    margin-left: 0.29px;
    margin-top: -1.0px;
    width: 47px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /* identical to box height, or 18px */
}
.heart{
    margin-top: -26px;
    margin-right: 26px;
    float: right;
}
.day{
    float: right;
    margin-right: 31px;
    margin-top: -31px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
    text-align: right;
    /* lightBlue/500 */
    color: #0EA5E9;
}
.desc{
    font-family: 'Helvetica Neue';
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #71717A;
    margin-left: 50.37px;
}
.hor-line{
    display: flex;
    border: 1px solid #E4E4E7;
    margin-left: 47px;
}
.page{
    text-align: center;
    align-items: center;
}
@media only screen and (max-width: 540px){
    .avatar{
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
    .third-line{
        flex-wrap: wrap;
        margin-left: 50px;
    }
    .brief-case{
        margin-left: 0px !important;
    }
}