<div class="wrapper">
    <div class="col-md-1"></div>
    <div class="col-md-10 jobs-card">
        <div class="content" *ngFor="let apiData of api | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
            <div class="avatar" [style.margin-top]="i==0 ? '54.6px':'30.6px'">
                <div class="first-line">
                    <img *ngIf="api[i].vendor.logo" src="{{api[i].vendor.logo}}" style="width:39.62px; height:30.2px;">
                    <img *ngIf="!api[i].vendor.logo" src="../../../assets/images/Avatar.png" style="width:39.62px; height:30.2px;">
                    <p class="com-name">{{api[i].vendor.company_name}}<h5 class="rating">{{api[i].vendor.rate}}</h5>
                    <img class="star" src="../../../assets/images/020---Star.png">
                    <li class="review">
                        <a href="#">{{api[i].vendor.review_count}} reviews</a>
                    </li>
                </div>
                <p class="day">{{api[i].vendor.vendor_type}}d</p>
                <!-- 2nd line -->
                <div class="second-line">
                    <p class="job-title">{{api[i].categories[0].name}}</p>
                </div>
                <!-- 3rd Line -->
                <div class="third-line">
                    <div class="brief-case" style="margin-top: -4px;">
                        <img src="../../../assets/images/4075950_bag_briefcase_business_suitcase_icon 1.png">
                    </div>
                    <p class="yrs">{{api[i].min_exp}}-{{api[i].max_exp}} Yrs</p>
                    <p class="yrs">|</p>
                    <p class="pa" *ngIf="api[i].salary_pay.yearly_from"><b>AED</b>&nbsp;{{api[i].salary_pay.yearly_from}}-{{api[i].salary_pay.yearly_to}} P.A</p>
                    <p class="yrs" *ngIf="api[i].salary_pay.yearly_from">|</p>
                
                    <div class="brief-case" style="margin-left: 1px;margin-top: -3px;">
                        <img src="../../../assets/images/Vector (2).png">
                    </div>
                    <p class="yrs">{{api[i].locations[0].name}}</p>
                </div>
                <div class="heart">
                    <img src="../../../assets/images/Vector (3).png">
                </div>
                <div class="fourth-line">
                    <p class="desc">{{api[i].vendor.company_profile}}Marketplace apps similar to olx or bigl but for EU market</p>
                </div>
            </div>
    
            <div class="sec">
                <hr class="hor-line">
            </div>  
        </div>
    </div>

    <div class="page">
        <pagination-controls (pageChange)="p = $event" class="float-right pagination page"></pagination-controls>
    </div>
</div>